/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --page-bg-color: #000028;
  --page-decor-color: #ff0070;
  --menu-color: #ff0070;
  --menu-hover-color: rgba(255, 0, 112, 0.4);
  --first-title-color: #db00ff;
  --text-accent-color: #ff0070;
  --second-title-color: #ff0070;
  --subtitle-color: #000028;
  --text-color: #f1b2ce;
  --background-image: url(../images/cover-image-dark.png);
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}

@media (prefers-color-scheme: dark) {
  .header__decorated::before {
    display: inline-block;
  }

  .header__decorated::after {
    display: inline-block;
  }
}

.theme-dark .header__decorated::before {
  display: inline-block;
}

.theme-dark .header__decorated::after {
  display: inline-block;
}