/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --page-bg-color: #fff1f7;
  --page-decor-color: #353430;
  --menu-color: #353430;
  --menu-hover-color: rgba(50, 49, 45, 0.4);
  --header-title-color: #ffc2e6;
  --text-accent-color: #ff8dcb;
 --section-title-color: #353430;
  --subtitle-color: #353430;
  --text-color: #353430;
  --background-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root {
    --page-bg-color: #fff1f7;
    --page-decor-color: #353430;
    --menu-color: #353430;
    --menu-hover-color: rgba(50, 49, 45, 0.4);
    --header-title-color: #ffc2e6;
    --text-accent-color: #ff8dcb;
    --section-title-color: #353430;
    --subtitle-color: #353430;
    --text-color: #353430;
    --background-image: url(../images/cover-image-light.png);
  }
}

/* Отключаем REC в светлой теме */
.theme-light .header__decorated::before {
  display: none;
}

/* Отключаем точку в светлой теме */
.theme-light .header__decorated::after {
  display: none;
}