/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

/* body */
.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  background-color: var(--page-bg-color);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* Вся шапка */
.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  padding: var(--indent);
  block-size: 100vh;
}

/* Уголок верх-право */
.decorated-zone::before {
content: '';
position: absolute;
top: var(--indent);
right: var(--indent);
width: 25px;
height: 25px;
border-top: 1px solid var(--accent-color);
border-right: 1px solid var(--accent-color);
}

/* Уголок низ-лево */
.decorated-zone::after {
  content: '';
  position: absolute;
  bottom: var(--indent);
  left: var(--indent);
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

/* РЕК */
.header__decorated {
  position: absolute;
  top: calc(var(--indent) - 10px);
  right: calc(var(--indent) + 50px);
  display: flex;
  justify-self: flex-end;
  width: 10px;
  color: var(--accent-color);
  font-family: var(--font-family);
  font-weight: 400;
  text-transform: uppercase;
}

/* РЕК */
.header__decorated::before {
  content: 'rec';
  margin-top: 10px;
  margin-right: 15px;
}

/* РЕК */
.header__decorated::after {
  content: '';
  position: absolute;
  margin-top: 18px;
  margin-left: 42px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
}

/* Меню */
.header__theme-menu {
  justify-self: flex-end;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  border: none;
  padding: 4px 13px;
  color: var(--menu-color);
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 100%;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid var(--menu-color);
  pointer-events: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border: none;
  border-bottom: 1px solid var(--menu-color);
  outline: none;
}

.header__theme-menu-button:hover:not(.header__theme-menu-button_active) {
  border: 1px solid var(--menu-hover-color);
}

/* Заголовок шапки */
.header__title {
  color: var(--first-title-color);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

/* Описание шапки */
.header__description {
  color: var(--subtitle-color);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--accent-color);
}