/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

/* body */
.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-color: var(--page-bg-color);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* Шапка */
.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  padding: var(--indent);
  block-size: 100vh;
}

/* Уголки верх-право */
.decorated-zone::before {
  content: '';
  position: absolute;
  top: var(--indent);
  right: var(--indent);
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--page-decor-color);
  border-right: 1px solid var(--page-decor-color);
}

/* Уголки низ-лево */
.decorated-zone::after {
  content: '';
  position: absolute;
  bottom: var(--indent);
  left: var(--indent);
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--page-decor-color);
  border-left: 1px solid var(--page-decor-color);
}

/* Область надписи REC */
.header__decorated {
  position: absolute;
  top: calc(var(--indent) - 10px);
  right: calc(var(--indent) + 50px);
  display: flex;
  justify-self: flex-end;
  width: 10px;
  color: var(--page-decor-color);
  font-family: var(--regular-font-family);
  font-weight: var(--normal-font-weight);
  font-size: var(--regular-font-size);
  line-height: 140%;
  text-transform: uppercase;
}

/* Надпись */
.header__decorated::before {
  content: 'rec';
  margin-top: 10px;
  margin-bottom: 15px;
}

/* Точка */
.header__decorated::after {
  content: '';
  position: absolute;
  margin-top: 18px;
  margin-left: 42px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--page-decor-color);
  background-color: var(--page-decor-color);
  inline-size: 9px;
  block-size: 9px;
}

/* Позиция меню */
.header__theme-menu {
  justify-self: flex-end;
}

/* Список кнопок */
.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

/* Кнопки */
.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 1.5px 13px;
  color: var(--menu-color);
  font-family: var(--regular-font-family);
  font-weight: var(--normal-font-weight);
  font-size: var(--regular-font-size);
  line-height: 116%;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

/* Активная кнопка */
.header__theme-menu-button_active {
  border: 1px solid var(--menu-color);
  pointer-events: none;
}

/* Сброс обводки для фокуса с мышки */
.header__theme-menu-button:focus {
  outline: none;
}

/* Для фокуса с клиатуры */
.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--menu-color);
}

/* При наведении */
.header__theme-menu-button:hover {
  border: 1px solid var(--menu-hover-color);
}

/* Заголовок шапки */
.header__title {
  color: var(--first-title-color);
  font-family: var(--regular-font-family);
  font-weight: var(--bold-font-weight);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--text-accent-color);
}

/* Описание в шапке */
.header__description {
  color: var(--subtitle-color);
  font-family: var(--regular-font-family);
  font-weight: var(--bold-font-weight);
  font-size: var(--regular-font-size);
  line-height: 23.4px;
  background-color: var(--text-accent-color);
}

/* Контент */
.main {
  margin-right: var(--indent);
  margin-left: var(--indent);
}

/* Заголовки секций */
.second-title {
  color: var(--second-title-color);
  font-family: var(--regular-font-family);
  font-weight: var(--bold-font-weight);
  font-size: var(--regular-font-size);
  line-height: 23.4px;
}

/* Подзаголовки секций */
.article__title, .precept__title-subtitle, .gallary__title {
  color: var(--subtitle-color);
  font-family: var(--regular-font-family);
  font-weight: var(--bold-font-weight);
  font-size: var(--regular-font-size);
  line-height: 23.4px;
  background-color: var(--text-accent-color);
}

/* Переопределение для подзаголовков в секции precept */
.precept__article-subtitle {
  font-weight: var(--normal-font-weight);
}

/* Текст в секциях */
.article__text {
  color: var(--text-color);
  font-family: var(--regular-font-family);
  font-weight: var(--normal-font-weight);
  font-size: var(--regular-font-size);
  line-height: 23.4px;
}